<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/chatRoom.css">
    <script>
    window.onload = function() {
    	
        var jwt = localStorage.getItem("jwt");
        if (!jwt) {
            window.location.href = "/login";
        }
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
  
    <aside id="chat-rooms-people-groups" aria-label="Sidebar">
        <div id="admin-only" style="display:none;"></div>
        <div id="other-users-and-groups" role="navigation" aria-label="Chat Room List"></div>
    </aside>

    <main id="chat-area" aria-label="Main Chat Area" style="display:none;">
        <header id="chat-header"></header>
        <section id="chat-messages"></section>
        <form id="chat-input-area" autocomplete="off" onsubmit="return false;">
            <input type="text" id="chat-message-input" placeholder="Type a message..." aria-label="Message">
            <button type="submit" id="send-btn" aria-label="Send Message">&#9658;</button>
        </form>
    </main>

  
    <div style="position:fixed;top:18px;right:36px;z-index:100;">
    	<button onclick="openPopUp()"> Create GroupChat</button>
        <span>Welcome, <span id="userName"></span>!</span>
        <span style="margin-left:12px;">(<span id="role"></span>)</span>
        <span style="margin-left:12px;">Email: <span id="email"></span></span>
        <button onclick="logout()" style="margin-left:18px;padding:6px 14px;">Logout</button>
    </div>
	<div id="popup" class="popup-overlay">
      <div class="popup-box">
        <h2>Create Group Chat</h2>
        <input type="text" id="groupName" placeholder="Group Name" required />
        <input type="text" id="memberEmails" placeholder="Members (comma separated emails)" required />
        <br />
        <button class="submit-btn" onclick="createGroup()">Create</button>
        <button class="close-btn" onclick="closePopup()">Cancel</button>
      </div>
    </div>
    <script src="/scripts/index.js">
    
    </script>
</body>
</html>